server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://cris-auth-service
          predicates:
            - Path=/auth/**, /api/users/**
        - id: citizen-service
          uri: lb://cris-citizen-service
          predicates:
            - Path=/api/citizens, /api/citizens/**
        - id: certificate-service
          uri: lb://cris-certificate-service
          predicates:
            - Path=/api/certificates/**
        - id: payment-service
          uri: lb://cris-payment-service
          predicates:
            - Path=/api/payments/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
